*, *:before, *:after { box-sizing: border-box; }

body {
  background: #666;
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;
}

:global #root {
  margin: 2rem auto;
  max-width: 900px;
}

:global hr {
  margin: 3rem 0;
  border: 1px solid #333;
}
